.edit-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
  margin-top: 20px;

  .MuiInput-input {
    padding-top: 10px;
  }

  &__username {
    font-size: 50px;
  }

  .MuiButton-contained {
    margin-top: 15px;
    align-self: center;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  Button {
    background-color: #014e86d3;
  }

  Button:hover {
    background-color: #014e86;
  }

}