.profile-page {
  margin-top: 56px;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;

  .username-bio {
    padding-bottom: 0;
  }
}
