.postShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  margin-top: 56px;
  padding-top: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .post-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: 200;
    width: 100%;

    &__post-title {
      font-size: 35px;
      font-weight: 300;
      margin: 0;
    }

    &__post-description {
      overflow: auto;
      height: 285px;
    }

    &__counters {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 18px;


      .click-like {
        color: pink;
        font-size: 32px;
      }

      .comment-count {
        font-size: 30px;
        color: grey;
      }
    }

    &__video-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      

      #video {
        border-radius: 4px;
        box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
      }
    }

    &__info {
      width: 35%;
      text-align: left; 
      margin-left: 2em;
      font-size: medium;

      #poster-username {
        text-align: left; 
        text-decoration: none;
        color: black;
        font-size: large;
        font-weight: 300;
      }
      
      #poster-username:hover {
        color: grey;
      }
    }
  }

  // New comment //
  .new-comment {
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
   

     #standard-basic {
       width: 32em;
       color: rgb(157, 156, 156);
       font-weight: 400;
       font-size: larger;
       border-bottom: 1px solid darkgrey;
     }

     &__submit {
       font-size: 15px;
       font-weight: 400;
      //  color: #014e86d3;
      //  border-color: #014e86d3;
        background-color: #014e86d3;
     }

     &__submit:hover {
      background-color: #014e86;
    }
  }

  .submit-comment {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 10px;
  }

  // Comments //
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;

    span {
      display: flex;
    }
  }
  
  .comment {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: large;
    width: 65%;
    
    span {
      text-align: left; 
      margin-left: 1em;
    } 
  }

    &__username {
     text-decoration: none;
     font-weight: 400;
     color: black;
    }

    &__comment-description {
      padding-left: 2em;
    }

    .delete-ex {
      color: darkgrey;
      cursor: pointer;
    }

    .delete-ex:hover {
      color: rgba(246, 75, 75, 0.996);
      cursor: pointer;
    }

  .avatar-username {
    display: flex;
    // width: 25%;
    align-items: center;
    margin-right: 2em;
  }

  .avatar-username:hover {
    opacity: 0.5;
  }

  .comment-delete {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
