.post-thumbnail {
  max-height: 250px;
  max-width: 444px;
}

.post-card {
  border-style: solid;
  border-width: 0.1em;
  width: 475px;
  padding: 20px;
  height: 370px;
  margin: 10px;
  align-items: center;
}