.post-card {
  text-decoration: none;
  margin: 1em;

  .card-component {
    width: 350px;

    .css-185gdzj-MuiCardHeader-root {
      padding-top: 0;
    }

    .MuiCardHeader-title {
      font-size: 18px;
    }

    .MuiCardHeader-subheader {
      font-size: 13px;
    }
  }

  .heart-icon {
    color: pink;
  }

  .card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;

    .likes-comments {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    span {
      display: flex;
      align-items: center;
    }
  }

}