.post-index-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-content: center;
  align-items: center;

  .search-filter-new-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    .search-filter {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      div.rmsc.multi-select .dropdown-container {
        display: flex;
        height: 56px;
        border-color: rgba(0, 0, 0, 0.263);
        justify-content: space-between;
      
          .dropdown-heading-value {
            padding-left: 0.3em;

            span.grey {
              color: red;
            }
          }
      }
    }
  
    .new-post-container {

      #new-post-btn {
        margin-left: 0.5em;
        height: 54px;
        justify-self: right;
      }
  
      #new-post-link {
        text-decoration: none;
        color: white;
      }
     }
  
  }
  
  div.rmsc.multi-select {
    width: 250px;
    height: 56px;
  
    .dropdown-container {
      height: 55px;
      display: flex;
      align-items: center;
    }
  }
  
  .post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
