.postform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 50%;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 45%;

      &__select {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 95%;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  input[type="file"] {
    display: none;
  }

  input[type="submit"] {
    display: none;
  }


}