.postform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  
  &__upload-file--error {
    color: red;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 50%;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 45%;

      &__select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  &__button-file {
    display: flex;
    flex-direction: column;
    width: 100%;

    .upload-file-button {
      border-color: #014e86d3;
      color: #014e86d3;
    }

    .upload-file-button:hover {
      border-color: #014e86;
      color: #014e86;
    }

    .create-post-button {
      background-color: #014e86d3;
    }

    .create-post-button:hover {
      background-color: #014e86;
    }

    &--upload-file--control-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.5em 0 0.5em 0;

      p {
        margin-left: 2em;
      }
    }

    &--thumbnail--control-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.5em 0 0.5em 0;

      p {
        margin-left: 2em;
      }
    }
  }
  
  &--status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    margin: 2em 0 0 0;
    background-color:#014e86d3;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 1em;
    padding: 1em 0 1em 0;
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  input[type="file"] {
    display: none;
  }

  input[type="submit"] {
    display: none;
  }


}