.navbar {
  height: 100%;  
  width: 15%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:lightblue; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}